body{
    min-height: 100vh;
    background: rgb(19, 19, 19) !important;
    /* display: flex;;
    align-items: center;
    justify-content: center; */

}

.card_holder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    /* position: relative;
    top: 0;
    left: 0; */
    height: 450px;
    width: 320px;
    background: rgb(35, 35, 35);
    border-radius: 20px;
    transition: 1s ease-in-out;
    overflow: hidden;
}

.card::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    clip-path: circle(150px at 80% 20%);
    transition: all 0.5s ease-in-out 0s;
}

.card::after{
    content: "Nike";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.05);
}

.img-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 220px;
    width: 230px;
    transition: 0.4s ease-in-out;

}

.img-box img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}


.content-box{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 73px;
    transition: 0.5s ease-in-out;
}

.color, .size{
    visibility: hidden;
    opacity: 0;
    transition: 1.5s ease-in-out;
}

.size h3, .color h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 10px;
}

.size div{
    margin: 1.66%;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.color div{
    height: 19px;
    width: 23px;
    margin: 2%;
    border-radius: 50%;
}

.blue{
    /* background-color: #0093E9; */
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.green{
    background: greenyellow;
}
.red{
    background: rgb(233, 30, 99);
}



.card:hover .content-box{
    height: 210px;
}
.card:hover .color, .card:hover .size{
    visibility: visible;
    opacity: 1;
}

.card:hover::before{
    clip-path: circle(61.8% at 62% 0);
}

.card:hover .img-box{
    top: 30%;
}

@media screen and (max-width: 999px){
    .col-sm-4{
        width: 50%;
    }
}


@media screen and (max-width: 600px){
    .col-sm-4{
        width: 100%;
    }
}





.c-red .card::before{
    background: rgba(233, 30, 99, 0.8);
}
.c-green .card:before{
    background: rgb(155, 220, 40);  
}
.c-blue .card::before{
    background-image: linear-gradient(160deg, #0094e9f1 0%, #80D0C7 100%);
}

/* .c-blue .card:hover{
    transition: 1s ease-in-out;
}

.card_holder{
    transition: 1s ease-in-out;
}


